Django>=5.0
django-unfold
django-filter
django-import-export
Pillow
whitenoise>=6.6.0
gunicorn>=21.2.0
python-dotenv
agora-token-builder
django-simple-history
django-filter
django-import-export
openpyxl
celery>=5.3.0
redis>=5.0.0
psycopg2-binary>=2.9.9